run = "pip install flask==3.0.3 gunicorn==22.0.0 python-docx==1.1.2 lxml==5.2.2 && pip install digest2==2.8.0 && python3 app.py"
entrypoint = "app.py"

[env]
FLASK_ENV="development"

[packager]
language="python3"
ignoredPaths = ["__pycache__", "*.pyc", "*.pyo", ".git", "venv"]
installsWith = "pip3"

[nix]
channel="stable-23_11"

[[nix.systemDependencies]]
package="gcc"

[[nix.systemDependencies]]
package="python311"

[[nix.systemDependencies]]
package="python311Packages.dev"

[[nix.systemDependencies]]
package="libxml2"

[[nix.systemDependencies]]
package="libxslt"